{% extends "./base_template_site.html" %}

{% block title %}
    Resume Template 3
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/template3_screen.css" />
{% endblock style %}
    
{% block resume_template %}
    <div class="page ">
        <div class="col-container">
            <div id="bg-left" class="col-left">
                <div>
                    <img class="img-logo" src="/static/images/sutLogo.png" alt=""><br>
                    <h1><b>{{student.first_name_en}} {{student.last_name_en}}</b></h1>                        
                    
                    {% comment %} <h2 class="topic-left"><b>Personal Info</b></h2> {% endcomment %}
                    <div class="content-left">
                        <b>Date of Birth: </b>
                        <label class="info-profile">{{student.birthday}}</label><br>
                        <b>Nationality: </b>
                        <label class="info-profile">{{student.nationality}}</label><br>
                        <b>Religion: </b>
                        <label class="info-profile">{{student.get_religion_display}}</label><br> 
                        <b>Marital Status: </b>
                        <label class="info-profile">Single</label><br>
                    </div>

                    <h2 class="topic-left"><b>SKILLS</b></h2>
                    <div class="w3-container">
                        {% for skill in student.get_skill %}
                            <div class="w3-light-grey">
                                <div class="w3-container w3-orange w3-center" style="width:{{skill.level}}%">{{skill.name}}</div>
                            </div>
                            <br>
                        {% empty %}
                            <h4>No skills</h4>
                        {% endfor %}
                    </div>

                    <h2 class="topic-left"><b>REFERECES</b></h2>
                    <div class="content-left">
                        <b> {{student.reference.advisor_name}} </b>
                        <ul class="content">
                            <li> {{student.reference.position}}, {{student.reference.affiliation}}</li>
                            <li>{{student.reference.phone_no}}</li>
                            <li>{{student.reference.email|first}}</li>                                    
                        </ul>
                    </div>
                </div>

            </div>
            
            <div class="col-right">
                <div class="col-container">
                    <div class="col-right">
                    </div>
                    <div class="col-left">
                        {% if student.profile_image %}
                            <img src="{{student.profile_image.url}}" alt="" class="img-resume">
                        {% else %}
                            <img class="img-resume" src="/static/images/user.png" alt="">
                        {% endif %}
                    </div>
                </div>

                <div class="col-container">
                    <h2 class="topic-right"><b>EDUCATION</b></h2>
                    <div>
                        {% for edu in student.education.all %}
                            <div class="column education">
                                <div class="title ">
                                    {% if edu.academy_name == '-' %}
                                    {% else %}
                                        <h3><b>{{edu.academy_name}} {{edu.time_period}} </b></h3>
                                    {% endif %}
                                </div>
                                <div class="description">
                                    {% if edu.major.branch.branch_name == '-' %}
                                        <p>
                                            {{edu.major.major_name}}
                                        </p>                                    
                                    {% else %}
                                        <p>
                                            {{edu.major.major_name}}, {{edu.major.branch.branch_name}}
                                            <br />
                                            {% if edu.major.course.course_name == '-' %}
                                            {% else %}
                                                ( {{edu.major.course.course_name}} )
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <h4>No Education</h4>
                        {% endfor %}
                    </div>

                    <h2 class="topic-right"><b>WORK EXPERIENCE</b></h2>
                    <div class="timeline">
                        {% for exp in student.experience.all %}
                            <div class="column">
                                <div class="title">
                                    <h3><b> {{exp.time_period}} {{exp.company_name}} </b></h3>
                                    <h4><b>{{exp.position}} </b></h4>
                                </div>
                                <ul class="content">
                                    {% for role in exp.get_role_list %}
                                        <li>{{role}}</li>
                                    {% empty %}
                                        <li>No description</li>                                    
                                    {% endfor %}
                                </ul>
                            </div>
                        {% empty %}
                            <h4>No Experience</h4>
                        {% endfor %}
                        
                    </div>

                    <div class="col-container">
                        <div class="per-lan">
                            <h2 class="topic-right"><b>PERSONAL</b></h2>
                            <div class="education">
                                {% comment %} <b>ADDRESS: </b> {% endcomment %}
                                <label class="info-profile">{{student.address_en}}</label><br>
                                <b>PHONE: </b>
                                <ul class="content">
                                    {% for phone in student.phone_no %}
                                    <li>{{phone}}</li>
                                    {% empty %}
                                    <li>No phone number</li>
                                    {% endfor %}
                                </ul>
                                <b>E-MAIL: </b>
                                <ul class="content">
                                    {% for email in student.email %}
                                    <li>{{email}}</li>
                                    {% empty %}
                                    <li>No Email Address</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="per-lan">
                            <h2 class="topic-right"><b>LANGUAGES</b></h2>
                            {% for lang in student.get_language %}
                                {{lang.name}}
                                <div class="w3-light-grey">
                                    <div class="w3-container w3-orange w3-center" style="width:{{lang.level}}%">{{lang.level}}</div>
                                </div><br>
                            {% empty %}
                                <h4>No languages</h4>
                            {% endfor %}
                        </div>
                    </div>

                    <h2 class="topic-right"><b>HOBBIES</b></h2>
                    <div class="refereces">
                        <ul class="content">
                            {% for hobby in student.get_hobby %}
                                <li>{{hobby}}</li>
                            {% empty %}
                                <li>No Hobby</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock resume_template %}