@page {
    height: auto;
    margin: 0;
    padding: 0;
}

i {
    padding-right: 10px;
}

.progress-level {
    padding-bottom: 5px;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
    text-align: center;
    padding-left: 5px;
}

.col-l {
    display: table-cell;
    width: 55%;
    padding-right: 5px;    
}

.col-r {
    display: table-cell;
    width: 35%;
    /* background-color: powderblue; */
     padding-left: 5px;
    /*padding-right: 5px;     */
}

.col-education-l {
    display: table-cell;
    width: 20%
}

.col-education-r {
    display: table-cell;
    width: 80%
}

.name {
    color: #343b7d;
    font-weight: bold;
    text-align: center;
}

.row-height {
    height: 100%;
}

.topic {
    color: #343b7d;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
}

.content {
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10%;    
}

