<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Resume Generator{% endblock title %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/screens/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block style %}{% endblock style %}
</head>
<body>
    {% block header %}
        <div class="nav-collapse">
            <ul class="ul-top">
                <li class="li-top">
                    <a href="/" class="link-btn">
                        <img class="img-home" src="/static/images/sutLogo.png" alt="">
                        SUT-RESUME
                    </a>
                </li>
                <li class="drop li-top right">
                    <a href="" class="dropbtn link-btn">
                        <img src="https://png.icons8.com/ios/20/FFFFFF/guest-male-filled.png" />
                            {{ user.username }}
                    </a>
                    <div class="dropdown-content">
                        <a href={% url 'AuthenApp:logout' %} class="link-btn">LOG OUT</a>
                    </div>
                </li>
            </ul>
        </div>
    {% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}
        <footer class="page-footer">
            <p>Copyright &copy; 2018</p>
        </footer>
    {% endblock footer %}
    {% block script %}{% endblock script %}
</body>
</html>