<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Resume Generator{% endblock title %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/screens/style.css">
    {% block style %}{% endblock style %}
</head>
<body>
     {% block header %}
        <ul class="ul-top">
            <li class="li-top">
                <a href="/">
                    <img class="img-home" src="/static/images/sutLogo.png" alt="">
                    HOME
                </a>
            </li>
            <li class="dropdown li-top right">
                <a href="" class="dropbtn">
                    <img src="https://png.icons8.com/ios/20/FFFFFF/guest-male-filled.png" />
                    Username
                </a>
                <div class="dropdown-content">
                    <a href="#">LOG OUT</a>
                </div>
            </li>
        </ul>
    {% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}
        <div class="footer">
            <p>Copyright &copy; 2018</p>
        </div>
    {% endblock footer %}
</body>
</html>