<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Resume Generator{% endblock title %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/common_style.css" />
    {% block style %}{% endblock style %}
</head>
<body>
     {% block download %}
        {% if is_pdf_view is not True %}
            <a type="button" class="w3-btn w3-green w3-block" href="/templates/to_pdf/{{template_no}}">
                Download as PDF
            </a>
        {% endif %}
    {% endblock download %}
    {% block resume_template %}{% endblock resume_template %}
</body>
</html>