{% extends "./base_site.html" %}

{% block title %}
    CV English version
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/cv_screen.css" />
{% endblock style %}

{% block download %} {% if is_pdf_view is not True %}
    <a type="button" class="w3-btn w3-green w3-block" href="/templates/to_pdf_cv/{{cv_lang}}">
        Download as PDF
    </a>
{% endif %} {% endblock download %}

    
{% block resume_template %}
    <div class="page">
        <div class="form-eng">
            <label>Suranaree University of Technology</label>
            <br>
            <label>111 Univesity Avenue</label>
            <br>
            <label>Suranaree Sub-district</label>
            <br> 
            <label>Muang, Nakhon Ratchasima 30000</label>
            <br><br>
            
            <label>October 6, 2017</label><br><br>
            
            <div>
                <label>Human Resources and Training Division</label>
                <br>
                <label>Mitsubishi Motor (Thailand) Co., Ltd.</label>
            </div>
            
            <div>
                <p>Dear Sir / Madam</p>
            </div>
            
            <p>Paragraph 1..............................................................................................................
                ............................................................................</p>
            <p>Paragraph 2..............................................................................................................
                    ............................................................................</p>
            
            <p>Sincerely,</p>
            <br>
            <p>(WIROJ PROMKEEREE)</p>
            <p>Enc. (2)</p>
            
        </div>
    </div>
{% endblock resume_template %}