{% extends "./base_template_site.html" %}

{% block title %}
    CV English version
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/cv_screen.css" />
{% endblock style %}

{% block download %} {% if is_pdf_view is not True %}
    <a type="button" class="w3-btn w3-green w3-block" href="/templates/to_pdf_cv/{{cv_lang}}/{{cv_id}}">
        Download as PDF
    </a>
{% endif %} {% endblock download %}

    
{% block resume_template %}
    <div class="page">
        <div class="form-eng">
            <label>Suranaree University of Technology</label>
            <br>
            <label>111 Univesity Avenue</label>
            <br>
            <label>Suranaree Sub-district</label>
            <br> 
            <label>Muang, Nakhon Ratchasima 30000</label>
            <br><br>
            
            <label>{{letter.date|date:"F j, Y"}}</label><br><br>
            
            <div>
                <label>Human Resources and Training Division</label>
                <br>
                <label> {{letter.company_name}} </label>
            </div>
            
            <div>
                <p>Dear Sir or Madam</p>
            </div>
            
            {% for paragraph in letter.get_contents %}
                <p> {{paragraph}} </p>
            {% empty %}
                <p>No data</p>
            {% endfor %}
            
            <p>Sincerely,</p>
            <br>
            <p>
            ( {{student.first_name_en}} {{student.last_name_en}} )
            </p>
            <p>Enc. ({{letter.attachment.count}})</p> 
        </div>
    </div>
{% endblock resume_template %}