{% extends "./base_template_site.html" %}

{% block title %}
    CV Thai Version
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/cv_screen.css" />
{% endblock style %}

{% block download %} {% if is_pdf_view is not True %}
    <a type="button" class="w3-btn w3-green w3-block" href="/templates/to_pdf_cv/{{cv_lang}}/{{cv_id}}">
        Download as PDF
    </a>
    <a class="w3-btn btn" href="javascript:history.go(-1)">
        <i class="fa fa-angle-left"></i>
    </a>
{% endif %} {% endblock download %}

    
{% block resume_template %}
    <div class="page">
        <div class="form-thai">
            <div class="head-letter">
                <label>สาขาวิชา{{letter.major.branch.branch_name}} </label>
                <br>
                <label>สำนักวิชา{{letter.major.major_name}}</label>
                <br>
                <label>มหาวิทยาลัยเทคโนโลยีสุรนารี</label>
                <br> 
                <label>111 ถ.มหาวิทยาลัย ต.สุรนารี</label>
                <br>
                <label>อ.เมือง จ.นครราชสีมา 30000</label>
                <br><br>
            </div>
            
            <div class="date-letter">
            <label>{{letter.get_th_date}}</label><br><br>
            </div>
            
            <div>
                <label>เรื่อง สมัครงานสหกิจศึกษา</label>
                <br>
                <label>เรียน 
                    {% if letter.position == 'ot' %}
                        {{letter.position_other}},
                    {% else %}
                        {{letter.get_position_display}} 
                    {% endif %}
                    {{letter.company_name}}
                </label>
            </div>
            
            <div>
                <label>สิ่งที่แนบมาด้วย  </label>
                <label class="attachment">
                {% for attachment in letter.attachment.all %}
                    {{forloop.counter}}. {{attachment}} 
                {% empty %}
                    <labe> ไม่มีการแนบเอกสาร </label>
                {% endfor %}
                </label>
            </div>
            
            {% for paragraph in letter.get_contents %}
                <div class="content">
                    <p> {{paragraph}} </p>
                </div>
            {% empty %}
                <p>ไม่มีข้อมูล</p>
            {% endfor %}

            <div class="content">
                <p>จึงเรียนมาเพื่อโปรดพิจารณา</p>
            </div>
            
            <div class="signature">
                <div class="sub-signature">
                    <label>ขอแสดงความนับถือ</label>
                    <br><br>
                    <label>({{student.first_name_th}} {{student.last_name_th}})</label>
                </div>
            </div>
            <br>
            
            <div>
                <label>
                    โทรศัพท์ : 
                    {% for phone in student.phone_no %}
                        {{phone}} 
                    {% empty %}
                        ไม่มีเบอร์โทรศัพท์
                    {% endfor %}
                </label>
                <br>
                <label>อีเมล : {{student.email|last}} </label>
            </div>
            
        </div>
    </div>
{% endblock resume_template %}