{% extends "./base_site.html" %}
{% load crispy_forms_tags %}

{% block title %}
    New/Edit Resume
{% endblock title %}

{% block style %} 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
{% endblock style %}

{% block content %}
     {% crispy form %}
    <!-- <div class="content-resume">
        <h1 class="head-topic-resume">Resume</h1>
        <div class="w3-row">
            <form class="new-form" action="" method='post'>
                {% csrf_token %}
                <div class="w3-col m6">
                    <div class="form-new">
                        <div class="w3-row">
                            <div class="w3-col m4">
                                <div id='img-box'></div> 
                                <input type='file' id='input-file'>                    
                            </div>

                            <div class="w3-col m8">
                                <label for="id_first_name">First name:</label>
                                <input type="text" name="first_name" maxlength="32" required="" id="id_first_name">
                                <label for="id_last_name">Last name:</label>
                                <input type="text" name="last_name" maxlength="32" required="" id="id_last_name">
                                <div class="w3-col m7">
                                    <label for="id_birthday" class="label-topic">Birthday:</label>
                                    <label for="" class="comment">*(dd/mm/yyyy)</label>
                                    <input type="text" name="birthday" maxlength="10" required="" id="id_birthday">
                                </div>
                                <div class="w3-col m5">
                                    <label for="id_age">Age:</label>
                                    <input type="number" name="age" value="0" min="0" required="" id="id_age">
                                </div>
                            </div>/
                        </div>


                <div class="w3-col m6 w3-right">
                    <button class="w3-button w3-orange save-btn">SAVE</button>
                </div>
            </form>
        </div>
    </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/new_resume.js"></script>
{% endblock content %}