{% extends "./base_site.html" %}

{% block title %}
    New/Edit Resume
{% endblock title %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/new_resume.js"></script>

{% block content %}
    <div class="content-resume">
        <h1 class="head-topic-resume">Resume</h1>
        <div class="w3-row">
            <form class="new-form" action={% url '${some-url-name}' arg %} method='post'>
                {% csrf_token %}
                <div class="w3-col m6">
                    <div class="form-new">
                        <div class="w3-row">
                            <div class="w3-col m4">
                                <div id='img-box'></div> 
                                <input type='file' id='input-file'>                    
                            </div>

                            <div class="w3-col m8">
                                <label for="id_first_name">First name:</label>
                                <input type="text" name="first_name" maxlength="32" required="" id="id_first_name">
                                <label for="id_last_name">Last name:</label>
                                <input type="text" name="last_name" maxlength="32" required="" id="id_last_name">
                                <div class="w3-col m7">
                                    <label for="id_birthday" class="label-topic">Birthday:</label>
                                    <label for="" class="comment">*(dd/mm/yyyy)</label>
                                    <input type="text" name="birthday" maxlength="10" required="" id="id_birthday">
                                </div>
                                <div class="w3-col m5">
                                    <label for="id_age">Age:</label>
                                    <input type="number" name="age" value="0" min="0" required="" id="id_age">
                                </div>
                            </div>/
                        </div>

                        <div class="w3-row">
                            <div class="w3-col m6">
                                <label for="id_nationality">Nationality:</label>
                                <input type="text" name="nationality" maxlength="16" required="" id="id_nationality">
                                <label for="id_phone_no">Phone no:</label>
                                <input type="text" name="phone_no" maxlength="10" required id="id_phone_no">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_religion">Religion:</label>
                                <input type="text" name="religion" maxlength="16" required="" id="id_religion">
                                <label for="id_email">Email:</label>
                                <input type="email" name="email" maxlength="32" required id="id_email">
                            </div>
                        </div>

                        <div class="w3-row">
                            <div class="w3-col m3">
                                <label for="id_address_no">Address no:</label>
                                <input type="text" name="address_no" maxlength="10" required="" id="id_address_no">
                            </div>
                            <div class="w3-col m3">
                                <label for="id_address">Village:</label>                                
                                <input type="text" name="village_no" maxlength="3" required="" id="id_village_no">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_alley">Alley:</label>
                                <input type="text" name="alley" maxlength="20" required="" id="id_alley">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_road">Road:</label>                                    
                                <input type="text" name="road" maxlength="20" required="" id="id_road">                                    
                            </div> 

                            <div class="w3-col m6">
                                <label for="id_sub_area">Sub area:</label>                                                                        
                                <input type="text" name="sub_area" maxlength="20" required="" id="id_sub_area">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_area">Area:</label>                                                                        
                                <input type="text" name="sub_area" maxlength="20" required="" id="id_area">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_province">Province:</label>
                                <input type="text" name="province" maxlength="20" required="" id="id_province">                                                                        
                            </div>  
                            <div class="w3-col m6">
                                <label for="id_postcode">Postcode:</label>
                                <input type="text" name="postcode" maxlength="5" required="" id="id_postcode">                                                                                                            
                            </div>
                        </div>
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <div class="w3-col m8">
                                <label for="id_language">Language:</label>
                                <input type="text" name="language" required="" id="id_language" multiple="multiple">
                            </div>
                            <div class="w3-col m4">
                                <label for="id_level">Level:</label>
                                <select id="id_level">
                                    <option value="level">---</option>                                        
                                    <option value="level">1</option>
                                    <option value="level">2</option>
                                    <option value="level">3</option>
                                    <option value="level">4</option>
                                    <option value="level">5</option>                                        
                                </select>
                            </div>
                        </div>
                        <button class="add-btn">+ add lenguage</button>
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <div class="w3-col m8">
                                <label for="id_skill">Skill:</label>
                                <input type="text" name="skill" required="" id="id_skill" multiple="multiple">
                            </div>
                            <div class="w3-col m4">
                                <label for="id_level">Level:</label>
                                <select id="id_level">
                                    <option value="level">---</option>                                        
                                    <option value="level">1</option>
                                    <option value="level">2</option>
                                    <option value="level">3</option>
                                    <option value="level">4</option>
                                    <option value="level">5</option>
                                </select>
                            </div>
                        </div>
                        <button class="add-btn">+ add skill</button>                                            
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <label for="id_activity">Activity:</label>
                            <div class="w3-col m12">
                                <input type="text" name="activity" required="" id="id_activity">
                            </div>
                            <button class="add-btn">+ add activity</button>
                        </div>
                    </div>
                </div>

                <div class="w3-col m6">
                    <div class="form-new">
                        <div class="w3-row">
                            <label for="id_hobbie">Hobbie:</label>
                            <div class="w3-col m12">
                                <input type="text" name="hobbie" required="" id="id_hobbie">
                            </div>
                            <button class="add-btn">+ add hobbie</button>
                        </div>
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <div class="w3-col m6">
                                <label for="id_education">Education:</label>
                                <input type="text" name="education" maxlength="64" required="" id="id_academy_name">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_major">Major:</label>
                                <input type="text" name="major" required="" id="id_major">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_time_period">Time Period:</label>                        
                                <input type="date" required="" id="id_time_period">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_time_period">To:</label>                                                
                                <input type="date" required="" id="id_time_period">
                            </div>
                        </div>
                        <button class="add-btn">+ add education</button>                    
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <label for="id_experience">WORK EXPERIENCE</label>
                            <div class="w3-col m12">
                                <label for="id_company_name">Company name:</label>
                                <input type="text" name="company_name" required="" maxlength="32" id="id_company_name">
                            </div>
                            <div class="w3-col m12">
                                <label for="id_position">Position:</label>                        
                                <input type="text" maxlength="32" required="" id="id_position">
                            </div>

                            <div class="w3-col m6">
                                <label for="id_time_period">Start:</label>                        
                                <input type="date" required="" id="id_time_period">
                            </div>
                            <div class="w3-col m6">
                                <label for="id_time_period">End:</label>                                                
                                <input type="date" required="" id="id_time_period">
                            </div><br>
                            
                            <div class="w3-col m12">
                                <label for="id_role" class="label-topic">Role:</label>
                                <label class="comment">*ขึ้นบรรทัดใหม่ด้วย -</label><br>                                              
                                <textarea type="text" maxlength="400" required="" id="id_role"></textarea><br><br>
                            </div>
                        </div>
                        <button class="add-btn">+ add experience</button>                                    
                    </div>

                    <div class="form-new">
                        <div class="w3-row">
                            <label for="id_reference">REFERENCE</label>
                            <label for="id_advisor_name">Advisor name:</label>                                
                            <input type="text" name="reference" required="" maxlength="32" id="id_advisor_name">
                            <label for="id_postion">Position:</label>
                            <input type="text" name="position" required="" maxlength="32" id="id_postion">
                            <label for="id_affiliation">Affiliation:</label>
                            <input type="text" name="affiliation" required="" maxlength="64" id="id_affiliation">
                            <label for="id_phone_no">Phone no:</label>
                            <input type="text" name="phone_no" required="" maxlength="10" id="id_phone_no">                        
                            <label for="id_email">Email:</label>
                            <input type="text" name="email" required="" maxlength="64" id="id_email">
                        </div>
                    </div>
                </div>

                <div class="w3-col m6 w3-right">
                    <button class="w3-button w3-orange save-btn">SAVE</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}