{% extends "./base_template_site.html" %}

{% block title %}
    Resume Template 1
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/template1_screen.css" />
{% endblock style %}

{% block resume_template %}
    <div class="page">
        <div class="col-container">
            <div id="background-left" class="col">
                <div class="w3-center">
                    <img class="img-logo" src="/static/images/sutLogo.png" alt="">
                </div>
                
                <h3 id="bg-topic-left" class="topic-left"><b>Personal Info</b></h3>
                <div class="content-resume">
                    <label class="text-bold">Date of Birth:</label>
                    <label>{{student.birthday}}</label>
                    <br>
                    <label class="text-bold">Nationality:</label>
                    <label>{{student.nationality}}</label>
                    <br>
                    <label class="text-bold">Religion:</label>
                    <label>{{student.religion}}</label>
                    <br>
                    <label class="text-bold">Marital Status:</label>
                    <label>Single</label>
                    <br>
                    <label class="text-bold">ADDRESS: </label>
                    <label>{{student.address.all|first}}</label>
                    <br>
                    <label class="text-bold">PHONE: </label>
                    <ul class="content">
                        {% for phone in student.phone_no %}
                        <li>{{phone}}</li>
                        {% empty %}
                        <li>No phone number</li>
                        {% endfor %}
                    </ul>
                    <label class="text-bold">E-MAIL: </label>
                    <ul class="content">
                        {% for e in student.email %}
                        <li>{{e}}</li>
                        {% empty %}
                        <li>No Email Address</li>
                        {% endfor %}
                    </ul>
                </div>
        
                <h3 id="bg-topic-left" class="topic-left"><b>SKILLS</b></h3>
                <div class="w3-container">
                    {% for sk in student.get_skill  %}
                        <div class="w3-light-grey">
                            <div class="w3-container w3-blue w3-center" style="width:{{sk.level}}%">{{sk.name}}</div>
                        </div><br>
                    {% empty %}
                        <h4>No Skills</h4>
                    {% endfor %}
                </div>
                
                <h3 id="bg-topic-left" class="topic-left"><b>LANGUAGES</b></h3>
                <div class="w3-container">
                    {% for lang in student.get_language %}
                        <div class="w3-light-grey">
                            <div class="w3-container w3-red w3-center" style="width:{{lang.level}}%"> {{lang.name}} </div>
                        </div><br>
                    {% empty %}
                        <h4>No languages</h4>
                    {% endfor %}
                    
                </div>
        
                <h3 id="bg-topic-left" class="topic-left"><b>HOBBIES</b></h3>
                <div class="content-resume">
                    <ul class="content">
                        {% for hobby in student.hobbie%}
                            <li>{{hobby}}</li>
                        {% empty %}
                            <li>No hobby</li>
                        {% endfor %}
                    </ul>
                </div>

                {% comment %} <h3 id="bg-topic-left" class="topic-left">Activities</h3>
                <div class="content-resume">
                    <ul class="content">
                        {% for act in student.activity%}
                        <li>{{act}}</li>
                        {% empty %}
                        <li>No Activity</li>
                        {% endfor %}
                    </ul>
                </div> {% endcomment %}
            </div>

            {% comment %} RIGHT {% endcomment %}
            <div class="col">
                <div class="background-head">
                    <div class="col">
                        <h1 class="name"><b>{{student.first_name}} {{student.last_name}}</b></h1>
                    </div>
                    <div class="col">
                        <img class="img-resume" src="/static/images/user.png" alt="">
                    </div>
                </div>
                

                <h3 class="topic-right"><b>WORK EXPERIENCE</b></h3>
                {% for exp in student.experience.all %}
                    <div class="content-resume">
                        <label class="sub-topic-right"> {{exp.time_period}} </label>
                        <br>
                        <h4 class="text-bold"><b>{{exp.company_name}}, {{exp.position}}</b></h4>
                        <ul class="content">
                            {% for role in exp.get_role_list %}
                                <li>{{role}}</li>
                            {% empty %}
                                <li>No description</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% empty %}
                    <div class="content-resume">
                        <h4>No experience</h4>
                    </div>
                {% endfor %}
    
                <h3 class="topic-right"><b>EDUCATION</b></h3>
                <div class="content-resume">
                    {% for edu in student.education.all %}
                        <div class="col-container">
                            <div class="col-education-l">
                                <label class="sub-topic-right"> {{edu.time_period}} </label>
                                <br>
                                <label class="sub-topic-right"> {{edu.get_level_display}} </label>
                            </div>
                            <div class="col-education-r">
                                <label class="text-bold"> {{edu.academy_name}} </label>
                                <br>
                                <label> {{edu.major.major_name}}, {{edu.major.branch.branch_name}} </label>
                                <br />
                                <label >( {{edu.major.course.course_name}} )</label>
                            </div>
                        </div>
                        <br />
                    {% empty %}
                        <h4>No Education</h4>
                    {% endfor %}
                </div>
    
                <h3 class="topic-right"><b>REFERECES</b></h3>
                <div class="content-resume">
                    <h5 class="sub-topic-right"><b> {{student.reference.advisor_name}} </b></h5>
                    <ul class="content">
                        <li>{{student.reference.position}}, {{student.reference.affiliation}}</li>
                        <li>{{student.reference.phone_no}}</li>
                        <li>{{student.reference.email|first}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock resume_template %}