<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="template3.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page ">
        <div class="col-sm-12">
            <div class="row">
                <!-- LEFT -->
                <div id="bg-left" class="col-sm-5">
                    <img src="./images/sutLogo.png" alt="">
                    <h3 class="topic-left">PROFILE</h3>
                    <div class="content-left">
                        <label>Date of Birth: </label>
                        <label class="info-profile">12 Jan 2011</label><br>
                        <label>Nationality: </label>
                        <label class="info-profile">Thai</label><br>
                        <label>Religion: </label>
                        <label class="info-profile">Thai</label><br> 
                        <label>Marital Status: </label>
                        <label class="info-profile">Single</label>
                    </div>

                    <h3 class="topic-left">SKILLS</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            JAVA
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            C++
                        </div>
                    </div>

                    <h3 class="topic-left">LANGUAGES</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            ENGLISH
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            JAPANESE
                        </div>
                    </div>

                    <h3 class="topic-left">Personal Info</h3>
                    <div class="content-left">
                        <label>ADDRESS: </label>
                        <label class="info-profile">Suranaree University of Technology, 111 Nakhon Ratcasima</label><br>
                        <label>PHONE: </label>
                        <label class="info-profile">08-xxxx-xxxx</label><br>
                        <label>E-MAIL: </label>
                        <label class="info-profile">adafactor@gmail.con</label><br> 
                    </div>

                    <h3 class="topic-left">HOBBIES</h3>
                    <div class="content-left">
                        <ul class="content">
                            <li>Play Games</li>
                            <li>ROV</li>
                            <li>etc.</li>
                        </ul>
                    </div>

                </div>

                <!-- RIGHT -->
                <div class="col-sm-7">
                    <div class="col-sm-8">
                        <h1 class="name">FirstName LastName</h1>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/user.png" alt="">
                    </div>

                    <div class="col-sm-12">
                        <h2 class="topic-right">EDUCATION</h2>
                        <div class="timeline">
                            <div class="column">
                                <div class="title">
                                    <h3> 1 Mar 2013 - 31 Mar 2017 </h3>
                                    <h4> Suranaree University of Technology, <br> Nakhon Ratchasima</h4>
                                </div>
                                <div class="description">
                                    <p>Computer Engineering</p>
                                </div>
                            </div>
                            
                            <div class="column">
                                <div class="title">
                                    <h3> Time period </h3>
                                    <h4> University / School, <br> County  </h4>
                                </div>
                                <div class="description">
                                    <p> Major </p>
                                </div>
                            </div>
                        </div>

                        <h2 class="topic-right">WORK EXPERIENCE</h2>
                        <div class="timeline">
                            <div class="column">
                                <div class="title">
                                    <h3> 1 Jan 2017 - 31 JAN 2017 </h3>
                                    <h4> JAVA Company Co, td.,<br> Web Developer</h4>
                                </div>
                                <ul class="content">
                                    <li>Design and Develop Web Application with PHP, HTML5, CSS, JavaScript</li> 
                                    <li>Build high quality of software solutions</li>
                                    <li>Communicate and maintain good relationship with the team and users to ensure smooth delivery of the projects and support systems</li>
                                    <li>Work as Back-End and Front-End developer</li>
                                </ul>
                            </div>
                            
                            <div class="column">
                                <div class="title">
                                    <h3> Time period </h3>
                                    <h4> Company Name, <br> Position  </h4>
                                </div>
                                <ul class="content">
                                    <li>Role</li> 
                                </ul>
                            </div>
                        </div>

                        <h2 class="topic-right">REFERECES</h2>
                        <div>
                            <label>Ada Factor</label>
                            <ul class="content">
                                <li>Founder, ADA FACTOR</li>
                                <li>08-xxxx-xxxx</li>
                                <li>adafactor@gmail.com</li>                                    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>