{% extends "./base_template_site.html" %}

{% block title %}
    Resume Template 2
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/template2_screen.css" />
{% endblock style %}

{% block resume_template %}
    <div class="page">
        <div class="w3-container">
            <!-- HEAD -->
            <div class="col-container">
                <div class="col">
                    <img class="img-logo" src="/static/images/sutLogo.png" alt="">
                </div>
                <div class="col">
                    <h1 class="head-name"> {{student.first_name}} {{student.last_name}}</h1>
                </div>
                <div class="col">
                    <div class="w3-center"><img class="img-resume" src="/static/images/user.png" alt=""></div>                
                </div>            
            </div>

            <!-- CONTENT -->
            <div class="col-container">
                <div class="col-content-l">
                    <h3 class="topic"><i class="fa fa-briefcase" aria-hidden="true"></i>Work Experiece</h3>
                    <div class="col-container">
                        {% for exp in student.get_experience %}
                            <b> {{exp.time_period}} </b>
                            <br>
                            <b>{{exp.company_name}} {{exp.position}}</b>
                            <p>
                                {{exp.role|linebreaks}}
                            </p>
                        {% empty %}
                            <h4>No experience</h4>
                        {% endfor %}
                    </div>
                    
                    <h3 class="topic"><i class="fa fa-university" aria-hidden="true"></i>Education</h3>
                        {% for edu in student.get_education %}
                            <div class="col-container">
                                <div class="col-education-l">
                                    <b> {{edu.time_period}} </b>
                                </div>
                                <div class="col-education-r">
                                    <label> {{edu.academy_name}} </label>
                                    <br>
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <label>{{edu.major.major_name}}, {{edu.major.branch.branch_name}}</label>
                                    <br>
                                    <label > ({{edu.major.course.course_name}}) </label>
                                </div>
                            </div>
                            <br>
                        {% empty %}
                            <h4>No Education</h4>
                        {% endfor %}
                    
                    <h3 class="topic"><i class="fa fa-users" aria-hidden="true"></i>Activities</h3>
                    <ul class="content">
                        {% for acti in student.activity %}
                            <li>{{acti}}</li>
                        {% empty %}
                            <li>No Activity</li>
                        {% endfor %}
                    </ul><br>

                    <div class="col-container">
                        <h3 class="topic"><i class="fa fa-quote-left" aria-hidden="true"></i>Refereces</h3>
                        <b>{{student.reference.advisor_name}}</b>
                        <ul class="content">
                            <li>{{student.reference.position}}, {{student.reference.affiliation}}</li>
                            <li>{{student.reference.phone_no}}</li>
                            <li>{{student.reference.email|first}}</li>                                    
                        </ul>
                    </div>

                </div>

                <!-- RIGHT -->
                <div class="col-content-r">
                    <h3 class="topic"><i class="fa fa-user" aria-hidden="true"></i>Personal Info</h3>
                    <div>
                        <b>Date of Birth: </b><label>{{student.birthday}}</label><br>
                        <b>Nationality: </b><label>{{student.nationality}}</label><br>                        
                        <b>Religion: </b><label>{{student.religion}}</label><br>                        
                        <b>Marital Status: </b><label>Single</label><br>
                        <b>PHONE: </b>
                        <ul>
                            {% for phone in student.phone_no %}
                                <li>{{phone}}</li>
                            {% empty %}
                                <li>No phone number</li>
                            {% endfor %}
                        </ul>
                        <b>EMAIL: </b>
                        <ul>
                            {% for e in student.email %}
                            <li>{{e}}</li>
                            {% empty %}
                            <li>No Email address</li>
                            {% endfor %}
                        </ul>
                        <b>ADDRESS: </b><label>{{student.get_address}}</label>
                    </div><br>
                    
                    <h3 class="topic"><i class="fa fa-language" aria-hidden="true"></i>Languages</h3>
                    <div class="w3-container">
                        {% for lang in student.get_language %}
                            <div class="w3-light-grey">
                                <div class="w3-container w3-blue w3-center" style="width:{{lang.level}}%">{{lang.name}}</div>
                            </div>
                            <br>
                        {% empty %}
                            <h4>No languages</h4>
                        {% endfor %}      
                    </div>
                    <br>

                    <h3 class="topic"><i class="fa fa-deaf" aria-hidden="true"></i>Skills</h3>
                    <div class="w3-container">
                        {% for skill in student.get_skill %}
                            <div class="w3-light-grey">
                                <div class="w3-container w3-blue w3-center" style="width:{{skill.level}}%">{{skill.name}}</div>
                            </div>
                            <br> {% empty %}
                            <h4>No skills</h4>
                        {% endfor %}
                    </div>
                    <br>

                    <h3 class="topic"><i class="fa fa-gamepad" aria-hidden="true"></i>Hobbies</h3>
                    <ul class="content">
                        {% for hobby in student.hobbie %}
                            <li>{{hobby}}</li>
                        {% empty %}
                            <li>No hobby</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock resume_template %}