{% extends "./base_template_site.html" %}

{% block title %}
    Resume Template 3
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screens/template3_screen.css" />
{% endblock style %}
    
{% block resume_template %}
    <div class="page ">
        <div class="col-container">
            <div id="bg-left" class="col-left">
                <div>
                    <img class="img-logo" src="/static/images/sutLogo.png" alt=""><br>
                    <h3 class="topic-left">Personal Info</h3>
                    <div class="content-left">
                        <b>Date of Birth: </b>
                        <label class="info-profile">12 Jan 2011</label><br>
                        <b>Nationality: </b>
                        <label class="info-profile">Thai</label><br>
                        <b>Religion: </b>
                        <label class="info-profile">Thai</label><br> 
                        <b>Marital Status: </b>
                        <label class="info-profile">Single</label>
                        <b>ADDRESS: </b>
                        <label class="info-profile">Suranaree University of Technology, 111 Nakhon Ratcasima</label><br>
                        <b>PHONE: </b>
                        <label class="info-profile">08-xxxx-xxxx</label><br>
                        <b>E-MAIL: </b>
                        <label class="info-profile">adafactor@gmail.con</label><br> 
                    </div><br>

                    <h3 class="topic-left">SKILLS</h3>
                    <div class="w3-container">
                        <div class="w3-light-grey">
                            <div class="w3-container w3-orange w3-center" style="width:20%">PHP</div>
                        </div><br>
                        <div class="w3-light-grey">
                            <div class="w3-container w3-orange w3-center" style="width:60%">JavaScirpt</div>
                        </div>
                    </div><br>

                    <h3 class="topic-left">LANGUAGES</h3>
                    <div class="w3-container">
                        <div class="w3-light-grey">
                            <div class="w3-container w3-orange w3-center" style="width:80%">English</div>
                        </div><br>
                        <div class="w3-light-grey">
                            <div class="w3-container w3-orange w3-center" style="width:60%">Japanese</div>
                        </div>
                    </div><br>

                    <h3 class="topic-left">HOBBIES</h3>
                    <div class="content-left">
                        <ul class="content">
                            <li>Play Games</li>
                            <li>ROV</li>
                            <li>etc.</li>
                        </ul>
                    </div>
                    
                </div>

            </div>
            
            <div class="col-right">
                <div class="col-container">
                    <div class="col-right">
                        <h1>FirstName LastName</h1>                        
                    </div>
                    <div class="col-left">
                        <img class="img-resume" src="/static/images/user.png" alt="">
                    </div>
                </div>

                <div class="col-container">
                    <h2 class="topic-right">EDUCATION</h2>
                    <div class="timeline">
                        <div class="column">
                            <div class="title">
                                <h3> 1 Mar 2013 - 31 Mar 2017 </h3>
                                <h4> Suranaree University of Technology, <br> Nakhon Ratchasima</h4>
                            </div>
                            <div class="description">
                                <p>Computer Engineering</p>
                            </div>
                        </div>
                            
                        <div class="column">
                            <div class="title">
                                <h3> Time period </h3>
                                <h4> University / School, <br> County  </h4>
                            </div>
                            <div class="description">
                                <p> Major </p>
                            </div>
                        </div>
                    </div>

                    <h2 class="topic-right">WORK EXPERIENCE</h2>
                    <div class="timeline">
                        <div class="column">
                            <div class="title">
                                <h3> 1 Jan 2017 - 31 JAN 2017 </h3>
                                <h4> JAVA Company Co, td.,<br> Web Developer</h4>
                            </div>
                            <ul class="content">
                                <li>Design and Develop Web Application with PHP, HTML5, CSS, JavaScript</li> 
                                <li>Build high quality of software solutions</li>
                                <li>Communicate and maintain good relationship with the team and users to ensure smooth delivery of the projects and support systems</li>
                                <li>Work as Back-End and Front-End developer</li>
                            </ul>
                        </div>
                            
                        <div class="column">
                            <div class="title">
                                <h3> Time period </h3>
                                <h4> Company Name, <br> Position  </h4>
                            </div>
                            <ul class="content">
                                <li>Role</li> 
                            </ul>
                        </div>
                    </div>

                    <h2 class="topic-right">REFERECES</h2>
                    <div class="refereces">
                        <b>Ada Factor</b>
                        <ul class="content">
                            <li>Founder, ADA FACTOR</li>
                            <li>08-xxxx-xxxx</li>
                            <li>adafactor@gmail.com</li>                                    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock resume_template %}