{% extends "./base_site.html" %}

{% block title %}
    SUT | CVs
{% endblock title %}

{% block content %}
    <div class="view-cv">
        <ul class="ul-cv">
            {% for letter in letter.all %}
            {% if letter.language == 'th' %}
                <li class="li-cv li-cv-th">
            {% else %}
                <li class="li-cv li-cv-en">
            {% endif %}
                
                    <a href= {% url 'resumeApp:cv' letter.language letter.id%}>
                        <div class="w3-row">
                            <div class="w3-col m5">
                                <h1 class="li-font-cv">CV Letter {{letter.language|upper}}</h1>
                            </div>
                            <div class="w3-col m7">
                                <div class="container-tabel">
                                    <table>
                                        {% if letter.language == 'th' %}
                                            <tr>
                                                <td class="label-view-cv"> {{student.first_name_th}} {{student.last_name_th}} </td>
                                                <td class="label-view-cv"> {{letter.get_th_date}} </td>
                                            </tr>
                                            <tr>
                                                <td class="label-view-cv">สาขาวิชา {{letter.major.branch.branch_name}}</td>
                                                <td class="label-view-cv">บริษัท {{letter.company_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label-view-cv">สำนักวิชา {{letter.major.major_name}}</td>
                                                <td class="button-cv">
                                                    <button class="button-edit"><i class="fa fa-edit"></i> Edit</button>
                                                    <a href={% url 'resumeApp:delete_cv' letter.id%}>
                                                        <button class="button-delete"><i class="fa fa-remove"></i> Delete</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="label-view-cv"> {{student.first_name_en}} {{student.last_name_en}} </td>
                                                <td class="label-view-cv"> {{letter.date|date:'F jS, Y'}} </td>
                                            </tr>
                                            <tr>
                                                <td class="label-view-cv">Branch {{letter.major.branch.branch_name}}</td>
                                                <td class="label-view-cv">Company: {{letter.company_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label-view-cv">Institude of {{letter.major.major_name}}</td>
                                                <td class="button-cv">
                                                    <button class="button-edit"><i class="fa fa-edit"></i> Edit</button>
                                                    <button class="button-delete"><i class="fa fa-remove"></i> Delete</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% empty %}
                <h3>ไม่มีจดหมายสมัครงาน CV</h3>
            {% endfor %}
        </ul>
    </div>

    
{% endblock content %}