{% extends "./base_site.html" %}

{% block content %}
    <div class="container-resume">
        <h1 class="w3-center text-choose">Choose your resume template</h1>
        {% for template_no in number_of_template  %}
            <div class="gallery">
                <a href={% url 'resumeApp:templates' template_no %}>
                    <img class="img-template" src="/static/images/templates/template{{ template_no }}.png" alt="">
                </a>
            </div>
        {% empty %}
            <h2>We're really sorry something went wrong...</h4>
        {% endfor %}
    </div>
{% endblock content %}