{% extends "./base_site.html" %}

{% block content %}
    <div class="container">
        <h1 class="w3-center w3-white">Choose your resume template</h1>
        <div class="gallery">
            <a href="#">
                <img class="img-template" src="/static/images/templates/template1.png" alt="">
            </a>
        </div>
        <div class="gallery">
            <a href="#">
                <img class="img-template" src="/static/images/templates/template2.png" alt="">
            </a>
        </div>
        <div class="gallery">
            <a href="#">
                <img class="img-template" src="/static/images/templates/template3.png" alt="">
            </a>
        </div>
    </div>
{% endblock content %}