* {    
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;    
}

body {
    background-image: url('/static/images/sut_bg.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #999;
}

.container {
    position: absolute;    
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0px;
    width: 40%;
    height: auto;
    background: rgba(3, 3, 3, 0.3);
    /* box-shadow: 1px 0px 5px #000;     */
}

.container-content {
    position: absolute;    
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 30px;
    width: 40%;
    height: auto;
    border: 1px solid #030303;
    border-top: rgba(3, 3, 3, 0.3);    
    /* border: 2px solid rgb(68, 68, 68); */
    background: rgba(3, 3, 3, 0.3);
    box-shadow: 2px 2px 20px #000;
}

#forgotpassword {
    display: none;
}

/* Style the tab */
.tab-group{
    width: 100%;
    margin: 0px 0px;
}

.tabs {
    width: 100%;
}

    /*----- Tab Links -----*/
    /* Clearfix */
.tab-links {
    margin: 0;
    padding: 0;
}

.tab-links li {
    margin: 0px;
    float: left;
    width: 50%;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;        
    color: #ffffff;
    background-color: rgba(3, 3, 3, 0.3);    
    transition: all linear 0.15s;
}

.tab-links a:hover {
    text-decoration:none;
}

li.active a, li.active a:hover {
    border: 1px solid #030303;
    border-bottom: hsla(0, 0%, 1%, 0.3);        
    background-color: rgba(3, 3, 3, 0);
    box-shadow: 2px -2px 20px #000;
}

    /*----- Content of Tabs -----*/
.tab-content {
    border-radius: 0px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

p {
    color: white;
}

input, button{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3, 3, 3, 0.45);

}

input:focus {
    outline: none;
    background: rgba(3,3,3,1);
}

.remember-container {
    margin-top: 10px;
    float: right;
}

.btn-forms {
    cursor: pointer;
    border-radius: 40px;
    background-color: rgb(76, 182, 0); 
}

.btn-forms:hover {
    box-shadow: 1px 1px 20px #000;    
}

#forget {
    font-family: 'Hind', sans-serif;
    color: rgb(27, 27, 27);
    cursor: pointer;
}

#forget:hover{
    color: rgb(255, 255, 255);
}

/*

#remember-container{
    position: relative;
    margin: -5px 20px;
}

#forget {
    position: absolute;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: rgb(27, 27, 27);
    right: 20px;
    top: 15px;
    cursor: pointer;
}

#forget:hover{
    color: rgb(255, 255, 255);
}

#forget-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.orange-btn{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgb(255, 94, 0);
}

.orange-btn:hover {
    opacity: 0.9;
}

#empty-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.valid {
    position: relative;
    margin: -5px 20px;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: rgb(255, 0, 0);
    left: 20px;
    top: 2px;
    bottom: 10px;
} */