html {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/sut.jpg') no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

body{
    margin: 0;
    position: relative;
    height: auto;
}

body > .container-index,  body > .container-resume, body > .view-cv{
    height: auto;
}

.nav-collapse {
    position: fixed;
    display: block;
    overflow: visible;
    width: 100%;
    z-index: 1;
}

.ul-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0088cc;
    margin-bottom: 20px; 
}

.img-home {
    width: 21px;
}

.li-top {
    float: left;
    background-color: #5e5e5e;
    font-weight: bold;
}

.li-top .link-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: right;
    background-color: #0088cc;
    color: #000000;
    text-align: center;
    text-decoration: none;    
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

}

.dropbtn {
    background-color: #0088cc; 
    border: none;   
}

.li-top .link-btn:hover, .drop:hover .dropbtn {
    background-color: #005580;
}

li .li-top.drop {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
}

.dropdown-content .link-btn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .link-btn:hover {
    background-color: #f1f1f1
}
.show {display:block;}
/* .drop:hover .dropdown-content {
    display: block;
} */


.container-index {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: auto;
}

.welcome {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ff6600;
}

.img-logo {
    width: 3em !important;
    height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    color: white;
    font-family: arial;
    background-color: rgba(62, 56, 49, 0.678);
}

.img-views {
    padding-top: 5%;
}

.button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #da4a19;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.button:hover {
    border-bottom: rgba(0, 0, 0, 0.548) solid 1px;
}

#footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #0088cc;
    clear: both;  
}

.col-container {
    /* display: table; */
    width: 100%;
    padding: 0 5%;
}

.col-left {
    display: table-cell;
    /* padding-left: 200px; */
}

.col-right {
    display: table-cell;
    /* padding-right: 200px; */
}


/* view resume css */
.container-resume {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.text-choose {
    color: white;
    font-weight: bold;
}

.gallery {
    padding: 10px 0px;
    width: 30%;
    height: auto;
    text-align: center;
}

.img-template {
    width: 80%;
    height: 61%;
}

/* view cv css */
h3, h2 {
    color: #fff;
}

.view-cv{
    width: 70%;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px;    
}

.ul-cv {
    list-style-type: none;
    width: 100%;
}

.li-cv {
    border-radius: 5px;     
    padding-left: 20px;
    overflow: auto;
    color: white;
    margin: 20px;
}

.li-cv:nth-child(odd) {
    background-color: #525252;
}

.li-cv:nth-child(even) {
    background-color: #ff6a00;    
}

.li-cv:hover:nth-child(odd) {
    background-color: #373737;
    cursor: pointer;
    box-shadow: 2px 2px 20px #000000;        
}

.li-cv:hover:nth-child(even) {
    background-color: #e05e00;
    cursor: pointer;
    box-shadow: 2px 2px 20px #000000;        
}

.li-font-cv {
    font-weight: bold;
}

/* .li-cv:hover {
    background: #00ab85;
    cursor: pointer;
} */

.label-view-cv {
    padding-left: 10px;    
    font-weight: initial;
    font-size: 14px;
    color: #000000;
}


table {
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

td {    
    width: 50%;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    border: 1px solid #4b4a4a;
	color: rgb(43, 43, 43);
}

/* new page */

.content-cv {
    padding-top: 65px;
    padding-bottom: 64px;    
}

.form-cv {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(119, 119, 119, 0.616);
}

.head-topic-cv {
    color: white;
    font-weight: bold;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgba(119, 119, 119, 0.616);
}

label{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align-last: auto;
}

.label-cv {
    display: initial;
    font-size: 18px;    
    font-weight: initial;
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 0px 5px;
    color: #000000;
    font-size: 18px;
    border: 2px #fff solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}

#input-file {
    cursor: pointer;
    width: 90%
}

#img-box {
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 5cm;
    width: 90%; 
    border: 2px solid #a3a3a3;
} 

select {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    font-size: 18px;    
    padding: 5px;    
    border: 2px #fff solid;
    border-radius: 3px;    
    background-color: rgba(255, 255, 255, 0.445);
}

textarea {
    width: 100%;
    height: 20%;
    font-size: 18px;        
    padding: 5px;
    border: 2px #fff solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.445);
}

#id_role {
    width: 95%;
    height: 85px;
}

.select-cv {
    width: 90%;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid #7997ef;
    background-color: rgb(245, 245, 245);
}

.save-btn {
    width: 98%;
    font-weight: bold;
    font-size: 18px;
}

.comment {
    display: initial;
    font-weight: initial;
    font-size: initial;
    color: #cccccc;
}

.add-btn {
    overflow: hidden;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
    border: 2px dashed rgba(0, 0, 0, 0.767);
    border-radius: 2px;  
    padding: 5px 10px;
    background-color: rgba(139, 139, 139, 0.507);
}

.add-btn:hover {
    border-color: #000000;
    color: #000000;
    background-color: #ffffff;
}

.checkbox, .radio{
    position: inherit;
}

.invalidate {
    color: red;
    font-style: italic;
}

.button-edit {
    background-color: #e4a300;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.button-delete {
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #aa7f11;
    color: #fff;
}

.button-delete:hover {
    background-color: #ce0000;
    color: #fff;
}

.button-cv {
    text-align: center;
    text-decoration: none;    
}

a {
    text-decoration: none;        
}
