{% extends "./base_site.html" %}

{% block authen_body %}
    <div class="tabs">
        <div class="container">
            <div class="tab-group">
                <ul class="tab-links">
                    <li class="active"><a href="#login"><h2>Log In</h2></a></li>
                    <li><a href="#register"><h2>Register</h2></a></li>
                </ul>
            </div>
        </div>
        <div class="container-content">
            <div class="tab-content">
                <div id="login" class="tab active">
                    <form action="#" method="POST">
                        <!-- <h1>Login</h1> -->
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button class="btn-forms">LOGIN</button>                
                        <div class="remember-container">
                            <a id="forget">Forgot password?</a>
                        </div>
                    </form>
                </div>
    
                <div id="register" class="tab">
                    <form action="#" method="POST">
                        <!-- <h1>Sign up</h1> -->
                        <input type="text" name="username" placeholder="Username">
                        <input type="text" name="email" placeholder="E-mail">
                        <input type="password" name="password" placeholder="Password">
                        <input type="password" name="password" placeholder="Confirm Password">            
                        <button class="btn-forms">REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = $(this).attr('href');
                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();
                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');
                e.preventDefault();
            });
        });
    </script>
{% endblock authen_body %}